<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Eshan Nalajala</title>
    <meta name="description" content="Eshan Nalajala">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='avatar.svg') }}">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='files/bootstrap.min.css') }}" type="text/css"
        media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='files/all.min.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='files/style.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body class="dark">



    <a href="itms-services://?action=download-manifest&url=https://eshan.dev/static/gd.plist">
        Install Geometry Dash No-Ads Version Free
    </a>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>